{% extends 'base.html' %}

{% block main_header %}
<h2>Beer in Colorado</h2>
{% endblock %}

{% block main_content %}
<div class="list section">
	<div class="span1"><a href="./map-one/" class="one">Brewpub</a></div>
	<div class="span1"><a href="#" class="two">Brewery</a></div>
	<div class="span1"><a href="#" class="three">Beer Bar</a></div>
	<div class="span1"><a href="#" class="four">Beer store</a></div>
	<div class="span1"><a href="#" class="five">Homebrew Store</a></div>
	<div class="span1"><a href="#" class="six">About this map</a></div>
</div>
{% endblock %}